@use '../../App.module.scss';

.pageContent {
  padding-top: 90px;
  width: 100%;
}

.homepageLayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 20px;
  padding: 20px;
  max-width: var(--max-width);
  background-color: var(--background-color);
  box-sizing: border-box; /* Ensure padding is included in width */
  overflow-x: hidden;
}
.WelcomeSection {
  grid-column: 1 / 3;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.Title {
  font-family: var(--font-primary);
  text-align: center;
  justify-content: center;
  color: var(--primary-font-color);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.titleAccent {
  font-family: var(--font-accent);
  color: var(--primary-font-color);
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.subtitle {
  font-size: 1.25rem;
  text-align: center;
  padding: 10px 40px;
  color: var(--primary-font-color);
  font-family: var(--font-primary);
}

.reviewsSection {
  grid-column: 3 / 4;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 60px;
  border-radius: 40px;
}
/* Second Row: Vision Section */
.reviewsTitle {
  text-align: center;
  justify-content: center;
  color: var(--primary-font-color);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.carouselSection {
  grid-column: 1 /-1;
  text-align: center;
  justify-content: center;
  border-top: 2px solid var(--accent-color);
}

.chartSection {
  grid-column: 1 /-1;
  text-align: center;
  justify-content: center;
  border-top: 2px solid var(--accent-color);
}
