:root {
  /* Font color */
  --primary-font-color: #000000;
  --secondary-font-color: #f4f4f4;
  --accent-font-color: #525252;

  /* Colors */
  --foreground-color: #000000;
  --background-color: #cdd3db;
  --accent-color: #cdd3db;
  --secondary-accent-color: #2ecc71;
  --secondary-color: #f4f4f4;

}

.navbar {
  background-color: var(--secondary-color);
  padding-top: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 17vh;
  max-height: 120px;
  border-bottom: 5px solid var(--accent-color);
}

.navbarContainer {
  max-width: 100%;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.leftNavbar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbarLogo {
  width: 8vw;
  max-width: 200px;
  padding-top: 0px;
  padding-left: 20px;
}

.navbarLinks {
  display: flex;
  gap: 2rem;
  position: absolute;
  margin-left: 9vw;
}

.navbarLinks a {
  color: var(--accent-font-color);
  font-weight: 500;
  text-decoration: none;
  font-size: xx-large;
  transition: color 0.2s ease;
}

.navbarLinks a:hover {
  color: var(--primary-font-color);
}
.reflectionButton {
  background-color: var(--secondary-accent-color);
  border: none;
  border-radius: 50px;
  font-size: x-large;
  padding: 0.5rem 1.5rem;
}
