:root {
  /* Font color */
  --primary-font-color: #000000;
  --secondary-font-color: #f4f4f4;
  --accent-font-color: #525252;

  /* Colors */
  --foreground-color: #000000;
  --background-color: #f4f4f4;
  --accent-color: #cdd3db;
  --secondary-accent-color: #2ecc71;
  --secondary-color: #f4f4f4;
  --teal: #48c9b0;
}

body {
  background-color: var(--background-color);
}
